.idea
.tox
.cache
*.pyc
*/*.pyc
build
dist
docs/_*
# 在静态文件还没有找到合适的共享方法之前，先用这个办法
static
*.egg-info
_build
__pycache__
*.pyo
sketch
mlab
trash
db.sqlite3
# tornado老版的设计，经过验证，tornado真的不适合来快速web站，但是很适合做异步的server，比如聊天室，这是最好的应用
tornado

#nextoa/black_hole/templates/json/*.min.json
assets
#我们统一使用jade来管理模板
*.jinja
*.html
*.wxml
*.wxss
*.vue


/static/
/assets/
/upload-saved/
webpack-stats.json
npm-debug.log
node_modules
config-odd
